<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>@font-face {
  font-family: 'StopCool';
  src: url('/fonts/sure.woff2') format('woff2');
  font-style: normal;
  font-style: normal;
  font-display: block;
}